@media (max-width: 450px) {
  .wrapper {
    padding: 0 25px 0;
  }
  .quote-box {
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .inputBoxWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px;
  }
}
